
# emacs
*~
\#*#

# python
*.pyc

*.css
*.data
*.gif
*.html
*.png
*_test.js
alltests.js
closure/known_issues
AUTHORS
CONTRIBUTING
README
.travis.yml
*.html
*_test.*
.*
/*.js
/*.json
/closure/bin/generate_closure_unit_tests
/closure/goog/demos/
/closure-deps/
/doc
/scripts
testdata
